{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
<BsNavbar
  @type="dark"
  @backgroundColor="danger"
  @collapsed={{true}} as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "meeting" class="navbar-brand"}}
      Meetings
    {{/link-to}}
  </div>
    <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        Teams
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>
{{outlet}}